body {
    background-color: whitesmoke;
}

.content {
    background-color: whitesmoke;
    width: 1920px;
    height: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.box1 {
    border-radius: 5%;
    background-color: yellow;
    width: 300px;
    height: 300px;
    float:left;
    margin-left: 30px;
    margin-top: 30px;
    transition: 1s;
}

.box1:hover {
    transform: scale(1.2);
    background-color: black;
    color: white;
}

.box2 {
    border-radius: 5%;
    background-color: yellow;
    width: 300px;
    height: 300px;
    float:left;
    margin-left: 30px;
    margin-top: 30px;
    transition: 1s;
}

.box2:hover {
    transform: scale(1.2);
    background-color: black;
    color: white;
}


h1 {
    width: inherit;
    position: absolute;
    text-align: center;
}

#center {
    text-align: center;
    margin-top: 45%;
}